* {
    margin: 1;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: blueviolet;
    padding: 10px;
    color:white;
    text-align: center;
}

main {
    padding: 30px 50px;
}